{% extends "layout.html" %}
{% block title %}
Hill Cipher
{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="form">
    <form method="post" enctype=multipart/form-data class="encode form">
        <script type="text/javascript">
            function inputTypeCheckEncode() {
                if (document.getElementById('write-encode').checked) {
                    document.getElementById('encode-text-area').disabled = false;
                    document.getElementById('encode-file').disabled = true;
                } else {
                    document.getElementById('encode-text-area').disabled = true;
                    document.getElementById('encode-file').disabled = false;
                }
            }
            function inputTypeCheckDecode() {
                if (document.getElementById('write-decode').checked) {
                    document.getElementById('decode-text-area').disabled = false;
                    document.getElementById('decode-file').disabled = true;
                } else {
                    document.getElementById('decode-text-area').disabled = true;
                    document.getElementById('decode-file').disabled = false;
                }
            }
        </script>
        <h2>
            Hill Encode
        </h2>
            
        
        <div class="radio-button-container">
            <input type="radio" id="write-encode" name="input-type" value="write" onclick="inputTypeCheckEncode()" checked>
            <label for="write-encode">Tulis...</label>
        </div>
        <div class="flex-col">
            <label for="encode-text-area">Plain Text</label>
            <textarea name="text" placeholder="Masukkan plain teks disini..." id="encode-text-area" cols="30" rows="10">{{ plain_text }}</textarea>
            
        </div>
        <div class="radio-button-container">
            <input type="radio" id="file-encode" name="input-type" value="file" onclick="inputTypeCheckEncode()">
            <label for="file-encode">atau upload file</label>
        </div>
        <div class="flex-col">
            <input type="file" name="encode-file" id="encode-file" accept="text/plain" disabled>
        </div>
        <hr style="width: 90%;">

        
        <!-- Above are copypasteable -->
        Key
        <table class="center">
            {% for i in range(n) %}
            <tr>
                {% for j in range(n) %}
                {% if matrix %}
                    <td>
                        <input type="number" name="cell-{{i}}-{{j}}" id="cell-{{i}}-{{j}}" class="matrix-cell" value="{{ matrix[i][j] }}">
                    </td>
                {% else %}
                    <td>
                        <input type="number" name="cell-{{i}}-{{j}}" id="cell-{{i}}-{{j}}" class="matrix-cell">
                    </td>
                {% endif %}
                {% endfor%}
            </tr>
            {% endfor %}
        </table>

        Ukuran key = <input type="number" name="dimension" id="dimension" value="{{n}}" class="matrix-cell mb-05">
        <button name="action-type" value="resize" type="submit">resize</button>

        <!-- Below are copypasteable -->

        <input type="submit" name="action-type" value="encrypt" class="center cursor-pointer">
        {% if hasil_cipher_text %}
            <p>Hasil: </p>
            <p>{{ hasil_cipher_text }}</p>
        {% endif %}
        {% if hasil_cipher_filepath and hasil_cipher_filename %}
            <div>
                <p>Hasil: </p>
                <a href="{{ url_for('.download_file', path=hasil_cipher_filepath) }}">{{hasil_cipher_filename}}</a>
            </div>
        {% endif %}
    </form>
    <form method="post" enctype=multipart/form-data class="decode form">
        <h2>
            Hill Decode
        </h2>
        <div class="radio-button-container">
            <input type="radio" id="write-decode" name="input-type" value="write" onclick="inputTypeCheckDecode()" checked>
            <label for="write-decode">Tulis...</label>
        </div>
        <div class="flex-col">
            <label for="decode-text-area">Cipher Text</label>
            <textarea name="text" placeholder="Masukkan cipher teks disini..." id="decode-text-area" cols="30" rows="10">{{ cipher_text }}</textarea>
            
        </div>
        <div class="radio-button-container">
            <input type="radio" id="file-decode" name="input-type" value="file" onclick="inputTypeCheckDecode()">
            <label for="file-decode">atau upload file</label>
        </div>
        <div class="flex-col">
            <input type="file" name="decode-file" id="decode-file" accept="text/plain" disabled>
        </div>
        <hr style="width: 90%;">

        <!-- Above are copypasteable -->
        Key
        <table class="center">
            {% for i in range(n) %}
            <tr>
                {% for j in range(n) %}
                {% if matrix %}
                    <td>
                        <input type="number" name="cell-{{i}}-{{j}}" id="cell-{{i}}-{{j}}" class="matrix-cell" value="{{ matrix[i][j] }}">
                    </td>
                {% else %}
                    <td>
                        <input type="number" name="cell-{{i}}-{{j}}" id="cell-{{i}}-{{j}}" class="matrix-cell">
                    </td>
                {% endif %}
                {% endfor%}
            </tr>
            {% endfor %}
        </table>

        Ukuran key = <input type="number" name="dimension" id="dimension" value="{{n}}" class="matrix-cell mb-05">
        <button name="action-type" value="resize" type="submit">resize</button>

        <!-- Below are copypasteable -->
        <input type="submit" name="action-type" value="decrypt" class="center cursor-pointer">
        
    </form>
    {% if hasil_plain_text %}
        <p>Hasil: </p>
        <p>{{ hasil_plain_text }}</p>
    {% endif %}

    {% if hasil_plain_filepath and hasil_plain_filename %}
        <div>
            <p>Hasil: </p>
            <a href="{{ url_for('.download_file', path=hasil_plain_filepath) }}">{{hasil_plain_filename}}</a>
        </div>
    {% endif %}
</div>
{% endblock %}