<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
        {% block head %}
        <title>{% block title %}{% endblock %} - CryptoCalc</title>
        {% endblock %}
    </head>
    <div class="container">
        <header class="header">
            <h1>CryptoCalc</h1>
        </header>
        <body>
            <div class="algo-menu">
                <a href="#">Vigenere Cipher</a>
                <a href="{{ url_for('affine_cipher') }}">Affine Cipher</a>
                <a href="{{ url_for('playfair_cipher') }}">Playfair Cipher</a>
                <a href="#">Hill Cipher</a>
            </div>
            
            <div id="content" class="content">{% block content %}{% endblock %}</div>
            
        </body>
        <footer>
            Dimas Faidh Muzaki & Muhammad Helmi Hibatullah
        </footer>
    </div>
</html>