body {
    font-family: 'Open Sans', serif;
    font-size: 32px;
}

footer {
    text-align: center;
    padding-bottom: 0.5rem;
}

textarea {   /* for all text* area elements */
    resize: none;
  }

.container {
    max-width: 54rem;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
    background-color: #fff;
    border: 1px solid #eaf0f6;
    box-shadow: 0 2px 4px rgb(33 51 67 / 12%);
  }

.header{
    text-align: center;
}

.algo-menu{
    display: flex;
    justify-content: space-between;
}

.welcome-wrapper{
    text-align: center;
}

.content{
    padding: 1em 1em;
}


.vl {
    border-left: 1px solid black;
  }

.radio-button-container {
    display: flex;
    justify-content: center;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.text-center{
    text-align: center;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
  }

.cursor-pointer{
    cursor: pointer;
}

form{
    border: 1px solid #eaf0f6;
    box-shadow: 0 2px 4px rgb(33 51 67 / 12%);
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.matrix-cell {
    max-width: 3em;
}